<div id="wrapper">
	<div id="content">
		<img class="borderimg" src="img/AMEX.png" alt="AMEX" />
		<img class="borderimg" src="img/nasdaq.png" alt="NASDAQ" />
		<img class="borderimg" src="img/NYSE.png" alt="NYSE" />
		</div>
</div>
